.App {
  margin: 5px;
  padding: 5px;
}

.singleUser {
  width: 600px;
  display: flex;
  justify-content: space-around;
}

.addUserForm {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

input {
  margin: auto;
  width: 250px;
}

.showUserName {
  margin: auto;
}

.button {
}